@import "tailwindcss";

/*
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
*/





@font-face {
  font-family: "Rubik";
  src: url("/fonts/rubik/Rubik-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/rubik/Rubik-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/rubik/Rubik-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
} 





:root {
  /* ================= Brand / Actions ================= */
  --color-primary: #1f3c55;        /* new deep navy primary */
  --color-secondary: #05676d;      /* teal-dark for borders / secondary buttons */
  --color-accent: #fbbf24;         /* amber highlights / small icons */

  /* ================= Base UI ================= */
  --color-background: rgba(255,255,255,1);     /* light neutral background */
  --color-surface: rgba(245,245,245,1);        /* hero sections / highlighted cards */

  /* ================= Typography ================= */
  --color-text-primary: #1f2933;       /* dark charcoal for light background */
  --color-text-secondary: #374151;     /* muted gray text */
  --color-text-on-surface: #f0fdfa;    /* light text on surface sections */
  --color-text-accent-on-surface: #ffe27d; /* amber/light accent on surface */
	
	--font-primary: "Rubik", system-ui, sans-serif;  
	
	
}


html {
  scroll-behavior: smooth;
  scroll-padding-top: 40px; 
}


body {
  font-family: var(--font-primary); 
}
 


/* Hide scrollbar - Chrome, Safari */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar - Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


/*innner shadow*/
.custom-shadow { 
  box-shadow:0 0 40px 70px var(--color-background); /* inner shadow */
}



@keyframes loading-bar {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-loading-bar {
  animation: loading-bar 1.2s ease-in-out infinite;
}
